<div class="navbar-fixed-bottom row-fluid navbar-inverse">
    <div class="navbar-inner">
        <div class="container center-block navbar-text text-center">
            Михаил Бильцевич, Copyright 2017
        </div>
    </div> 
</div> 